@import "tailwindcss";

@font-face {
  font-family: 'Horizon';
  src: url('/horizon.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HorizonOutlined';
  src: url('/horizon_outlined.otf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/SpaceMono-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMonoBold';
  src: url('/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

:root {
  --color-primary: #000000;
  --color-secondary: #44373b;
  --color-accent: #9581c5;
  --color-background: #fdf7f0;
  --color-background-alt: #fdf7f0;
  --color-surface: #ffffff;
  --color-surface-dark: #2d2d2d;
  --color-border: #4a4a4a;
  --color-text: #2d2d2d;
  --color-text-muted: #6b6b6b;
  --color-hover: #f5a97e;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-section-bg: rgba(245, 235, 224, 0.5);
  --color-section-border: rgba(74, 74, 74, 0.2);
}

:root {
  font-family: 'SpaceMono', sans-serif;
}

.Horizon {
  font-family: 'Horizon', sans-serif;
}

.HorizonOutlined {
  font-family: 'HorizonOutlined', sans-serif;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

.bg-cloud {
  background-image: url('/cloud.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0
}